SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/local/bin/set-power-profile.sh true"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/local/bin/set-power-profile.sh false"
